body {
    background-color: #907AD6;
    font-family: "Red Hat Mono", monospace;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../assets/backgrounds/background.png');
    background-image: url('../assets/backgrounds/background.png'), linear-gradient(#060623, #8f7ec8);
    background-size: 400px;

}

main {
    flex: 1 0 auto;
    width: 100vw;
    min-height: 70vh;
}

footer {
    font-family: "Red Hat Mono", monospace;
    width: 100%;
}

.footerLink:hover {
    color: #ffa537 !important;
}


/* inside footer style */
.container {
    background-color: #201d48;
    text-align: left;
}

/* footer style */
.page-footer {
    background-color: #19173c;
    position: relative;
    bottom: 0;
}

.white-text {
    text-align: left;
}

/* Navbar */
.nav-wrapper {
    background-color: #19173c;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    margin-bottom: 50px;
}

/* Navbar right side*/
.sidenav {
    background-color: #cdbeff;
    padding-right: 10px;
}

.right {
    font-family: "Red Hat Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    padding-right: 2%;
}

.margin-top-50 {
    margin-top: 40px;
}

/* Navbar -Pixel Pals*/
.brand-logo {
    width: 300px;
    margin-left: 5%;
}


/* ///// Display Page ////////////////////////////////////// */

.displayContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 20px;
}

.petContainer {
    flex-basis: 42%;
    padding: 15px;
}

/* where pet lives in circle on display page */
.petCircle {
    position: relative;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 80vw;
    border: 5px solid #7fdeff;
    height: 80vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    max-width: 700px;
    max-height: 700px;
    background-image: url('../assets/backgrounds/pet-backgrounds/forest.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

canvas {
    scale: .8;
}

/* stand for circle - design */
.petStand {
    bottom: -15px;
    transform: translateX(155%);
    width: 20vw;
    height: 30px;
    height: 35px;
    width: 30vw;
    transform: translateX(87%) perspective(2px) rotateX(1deg);
    background: rgb(127, 222, 255);
    background: linear-gradient(90deg, rgba(127, 222, 255, 1) 0%, rgba(205, 242, 255, 1) 49%, rgba(165, 232, 255, 1) 62%, rgba(127, 222, 255, 1) 100%);
}

/* container holding buttons on display pages */
.btnContainer {
    flex-basis: 42%;
    height: 25px;
    font-family: "Silkscreen", sans-serif;
    justify-content: space-evenly;
    text-align: center;
}

.btn-small {
    margin: 5px;
    width: 70px;
    padding: 2px;
    border-radius: 5px;
}

.btn-small:hover{
    color: white;
    opacity: 70%;
}

.mainHealthContainer {
    flex-basis: 42%;
    width: 326px;
    padding: 5px;
}

/* container holding life/health levels */
.healthContainer {
    width: 90%;
    padding: 15px;
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 10px;
    font-family: "Silkscreen", sans-serif;
    border: 1px solid transparent;
    background-color: rgba(24, 21, 56, 0.6);
}

.nameContainer {
    flex-basis: 42%;
    flex-wrap: wrap;
    background-color: rgba(24, 21, 56, 0.6);
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    text-align: center;
    color: white;
    padding: 15px;
}

.displayHeader {
    font-family: "Silkscreen", sans-serif;
    font-size: 24px;
    margin: 0;
    margin-bottom: 5px;
    color: white;
    text-align: center;
}

#description {
    margin: 0;
}

.bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    color: white;
    height: 20px;
}

.bar p {
    margin-right: 10px;
}

.progress {
    top: 4px;
}

/* ////////  Sign-in & Log-in ////////////////////////////////// */

/* form welcome */
h5 {
    color: white;
    text-align: center;
}

.formPage {
    display: flex;
    justify-content: center;
    align-content: center;
}

.formContainer {
    font-family: "Silkscreen", sans-serif;
    width: 80%;
    background-color: #26285a;
    margin: 10%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

form .row {
    margin-bottom: 5px;
}

.input-field {
    background-color: white;
    border-radius: 10px;
    color: #19173c;
}

/* style for input */
.input-field {
    background-color: white;
    border-radius: 10px;
    color: #19173c;
    height: 45px;
}

.btn {
    background-color: #19173c;
    font-family: "Silkscreen", sans-serif;
}

/* Pet Creation */
.select-dropdown {
    font-family: 'Silkscreen', sans-serif;
    font-size: 14px !important;
    color: #9e9e9e;
}


/* /////////////////////////  IDs /////////////////////////*/

.text {
    text-decoration: none;
}

.text:hover {
    color: #52a72b;
}

#greenColor {
    /* specify green color - used on buttons */
    background-color: #52a72b;
}

/* specify green color - used on buttons */
#blueColor {
    background-color: #0aa1bc;
}

/* specify green color - used on buttons */
#medPurpleColor {
    background-color: #3155c4;
}

/* specify green color - used on buttons */
#orangeColor {
    background-color: #E0871B;
}

/* specify font on username input */
#user_name {
    font-family: "Silkscreen", sans-serif;

}


@media screen and (max-width: 360px) {
    .displayContainer {
        justify-content: center;
    }

    /* form welcome */
    h5 {
        color: white;
    }

    .btn {
        background-color: #19173c;
        font-family: "Silkscreen", sans-serif;
    }

    .petContainer {
        flex-basis: 100%;
        padding: 15px;
    }

    .btn-small {
        width: 60px;
    }

}

@media screen and (min-width: 768px) {
    .displayContainer {
        /* position: absolute; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: center;
        width: 90%;
        margin: 40px;
        height: cal(100vh - 60px);
    }

    /* where pet lives in circle on display page */
    .petCircle {
        position: relative;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
        width: 40vw;
        height: 40vw;
        display: flex;
    }

    /* stand for circle - design */
    .petStand {
        bottom: -15px;
        transform: translateX(55%);
        width: 20vw;
        height: 30px;
        height: 40px;
        width: 15vw;
        transform: translateX(86%) perspective(2px) rotateX(1deg);
    }

    .btn-small {
        width: 90%;
        top: 50px;
    }

    .formContainer {
        width: 50%;
        padding: 20px 40px;
    }

    .nameContainer {
        position: absolute;
        top: 350px;
        width: 35%;
        left: 89px;
    }

    .btnContainer{
        margin-top: 50px;
    
    }
}

@media screen and (min-width: 998px) {
    .nameContainer {
        flex-basis: 42%;
        width: 34%;
        left: 108px;
    }

    /* container holding life/health levels */
    .healthContainer {
        position: absolute;
        width: 34%;
        top: 470px;
        left: 108px;
    }
}


@media screen and (min-width: 1200px) {
    .nameContainer {
        left: 123px;
    }
      /* container holding life/health levels */
      .healthContainer {
       left: 125px;
       top: 475px;
    }
}

@media screen and (min-width: 1348px) {
    .nameContainer {
        left: 135px;
        top: 424px;
    }

    .btnContainer{
        margin-top: 130px;
        margin-left: -20px;
    }

    /* container holding life/health levels */
    .healthContainer {
        left: 135px;
        top: 544px;
    }
}

@media screen and (min-width: 1600px) {
    .nameContainer {
        left: 155px;
    }

    /* container holding life/health levels */
    .healthContainer {
       left: 155px;
      
    }
}

@media screen and (min-width: 1888px) {
    .nameContainer {
        left: 200px;
    }

    /* container holding life/health levels */
    .healthContainer {
       left: 200px;
    }
}