* {}

body {
    background-color: #907AD6;
    font-family: "Red Hat Mono", monospace;
    /* display: flex; materialize says to do this but its not working */
    /* min-height: 100vh; */
    float: column;
}

main{
    flex: 1 0 auto;
}

footer {
    font-family: "Red Hat Mono", monospace;
    position: absolute;
    background-color: #2C2A4A;
    color: white;
    width: 100%;
    text-align: center;
    bottom: 0;
    height: 40px;
}

.container{
    background-color: #2C2A4A;
  
}

.footer-copyright{
    background-color: #2C2A4A;
}

.page-footer{
    background-color: #4f518c;
}

/* Navbar */
.nav-wrapper {
    background-color: #2C2A4A;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;

}

/* Navbar */
.right {
    font-family: "Red Hat Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    padding-right: 2%;

}

/* Navbar -Pixel Pals*/
.brand-logo {
    width: 300px;
    margin-left: 5%;

}


.input-field {
    background-color: white;
    border-radius: 10px;
    color: #2C2A4A;
    height: 45px;
}

.btn {
    background-color: #2C2A4A;
    font-family: "Silkscreen", sans-serif;
    margin-left: 31%;

}

.margin-top-50 {
    margin-top: 50px;
}

#user_name {
    font-family: "Silkscreen", sans-serif;

}




@media screen and (max-width: 1920px) {

    /* form welcome */
    h5 {
        color: white;
        margin-left: 42%;
        width: 80px;
        padding-top: 25px;
        padding-bottom: 0px;
    }

    /* Navbar */
    .row {
        margin-top: 40px;
        width: 700px;

    }

    /* sign-in and log-in container */
    .formContainer {
        font-family: "Silkscreen", sans-serif;
        margin-top: 40px;
        width: 800px;
        background-color: #4f518c;
        margin-left: 31%;
        border-radius: 10px;
    }

    .input-field {
        background-color: white;
        border-radius: 10px;
        color: #2C2A4A;
        height: 45px;
    }

    .btn {
        background-color: #2C2A4A;
        font-family: "Silkscreen", sans-serif;
        margin-left: 44%;

    }

}





@media screen and (max-width: 1728px) {

    /* form welcome */
    h5 {
        color: white;
        margin-left: 43%;
        width: 80px;
        padding-top: 25px;
        padding-bottom: 0px;
    }

    /* Navbar */
    .row {
        margin-top: 40px;
        width: 700px;
    }

    /* sign-in and log-in container */
    .formContainer {
        font-family: "Silkscreen", sans-serif;
        margin-top: 40px;
        width: 800px;
        background-color: #4f518c;
        margin-left: 28%;
        border-radius: 10px;
    }

    .input-field {
        background-color: white;
        border-radius: 10px;
        color: #2C2A4A;
        height: 45px;
    }

    .btn {
        background-color: #2C2A4A;
        font-family: "Silkscreen", sans-serif;
        margin-left: 45%;

    }

}

@media screen and (max-width: 1512px) {

    /* form welcome */
    h5 {
        color: white;
        margin-left: 40%;
        width: 80px;
        padding-top: 25px;
        padding-bottom: 0px;
    }

    /* Navbar */
    .row {
        margin-top: 40px;
        width: 550px;
    }

    /* sign-in and log-in container */
    .formContainer {
        font-family: "Silkscreen", sans-serif;
        margin-top: 40px;
        width: 700px;
        background-color: #4f518c;
        margin-left: 28%;
        border-radius: 10px;
    }

    .input-field {
        background-color: white;
        border-radius: 10px;
        color: #2C2A4A;
        height: 45px;
    }

    .btn {
        background-color: #2C2A4A;
        font-family: "Silkscreen", sans-serif;
        margin-left: 41%;

    }

}

@media screen and (max-width: 1440px) {

    /* form welcome */
    h5 {
        color: white;
        margin-left: 40%;
        width: 80px;
        padding-top: 25px;
        padding-bottom: 0px;
    }

    /* Navbar */
    .row {
        margin-top: 30px;
        width: 550px;
    }

    /* sign-in and log-in container */
    .formContainer {
        font-family: "Silkscreen", sans-serif;
        margin-top: 40px;
        width: 700px;
        background-color: #4f518c;
        margin-left: 28%;
        border-radius: 10px;
    }

    .input-field {
        background-color: white;
        border-radius: 10px;
        color: #2C2A4A;
        height: 45px;
    }

    .btn {
        background-color: #2C2A4A;
        font-family: "Silkscreen", sans-serif;
        margin-left: 41%;

    }

}

@media screen and (max-width: 1280px) {

    /* form welcome */
    h5 {
        color: white;
        margin-left: 40%;
        width: 80px;
        padding-top: 25px;
        padding-bottom: 0px;
    }

    /* Navbar */
    .row {
        margin-top: 30px;
        width: 550px;
    }

    /* sign-in and log-in container */
    .formContainer {
        font-family: "Silkscreen", sans-serif;
        margin-top: 40px;
        width: 700px;
        background-color: #4f518c;
        margin-left: 24%;
        border-radius: 10px;
    }

    .input-field {
        background-color: white;
        border-radius: 10px;
        color: #2C2A4A;
        height: 45px;
    }

    .btn {
        background-color: #2C2A4A;
        font-family: "Silkscreen", sans-serif;
        margin-left: 41%;

    }

}

@media screen and (max-width: 1024px) {

    /* form welcome */
    h5 {
        color: white;
        margin-left: 40%;
        width: 80px;
        padding-top: 25px;
        padding-bottom: 0px;
    }


    /* Navbar */
    .row {
        margin-top: 30px;
        width: 550px;
    }

    /* sign-in and log-in container */
    .formContainer {
        font-family: "Silkscreen", sans-serif;
        margin-top: 40px;
        width: 700px;
        background-color: #4f518c;
        margin-left: 18%;
        border-radius: 10px;
    }

    .input-field {
        background-color: white;
        border-radius: 10px;
        color: #2C2A4A;
        height: 45px;
    }

    .btn {
        background-color: #2C2A4A;
        font-family: "Silkscreen", sans-serif;
        margin-left: 41%;

    }

}

@media screen and (max-width: 834px) {

    /* form welcome */
    h5 {
        color: white;
        margin-left: 39%;
        width: 80px;
        padding-top: 25px;
        padding-bottom: 0px;
    }

    /* Navbar */
    .row {
        margin-top: 30px;
        width: 450px;
    }

    /* sign-in and log-in container */
    .formContainer {
        font-family: "Silkscreen", sans-serif;
        margin-top: 40px;
        width: 500px;
        background-color: #4f518c;
        margin-left: 18%;
        border-radius: 10px;
    }

    .input-field {
        background-color: white;
        border-radius: 10px;
        color: #2C2A4A;
        height: 45px;
    }

    .btn {
        background-color: #2C2A4A;
        font-family: "Silkscreen", sans-serif;
        margin-left: 40%;

    }

}

@media screen and (max-width: 744px) {

    /* form welcome */
    h5 {
        color: white;
        margin-left: 39%;
        width: 80px;
        padding-top: 25px;
        padding-bottom: 0px;
    }

    /* Navbar */
    .row {
        margin-top: 20px;
        width: 400px;
    }

    /* sign-in and log-in container */
    .formContainer {
        font-family: "Silkscreen", sans-serif;
        margin-top: 40px;
        width: 500px;
        background-color: #4f518c;
        margin-left: 18%;
        border-radius: 10px;
    }

    .input-field {
        background-color: white;
        border-radius: 10px;
        color: #2C2A4A;
        height: 45px;
    }

    .btn {
        background-color: #2C2A4A;
        font-family: "Silkscreen", sans-serif;
        margin-left: 40%;

    }

}

@media screen and (max-width: 430px) {

    /* form welcome */
    h5 {
        color: white;
        margin-left: 30%;
        width: 80px;
        padding-top: 25px;
        padding-bottom: 0px;
    }

    /* input fields */
    .row {
        margin-top: 30px;
        width: 275px;
    }

    /* sign-in and log-in container */
    .formContainer {
        font-family: "Silkscreen", sans-serif;
        margin-top: 40px;
        width: 85vw;
        background-color: #4f518c;
        margin-left: 7%;
        border-radius: 10px;
    }

    .input-field {
        background-color: white;
        border-radius: 10px;
        /* color: #2C2A4A; */
        height: 45px;
    }

    .btn {
        background-color: #2C2A4A;
        font-family: "Silkscreen", sans-serif;
        margin-left: 1%;
    }


}

@media screen and (max-width: 360px) {

    /* form welcome */
    h5 {
        color: white;
        margin-left: 30%;
        width: 80px;
        padding-top: 25px;
        padding-bottom: 0px;
    }


    /* Navbar */
    .row {
        /* margin-top: 20px; */
        width: 200px;
    }

    /* sign-in and log-in container */

    .formContainer {
        font-family: "Silkscreen", sans-serif;
        margin-top: 40px;
        width: 85vw;
        background-color: #4f518c;
        margin-left: 7%;
        border-radius: 10px;
    }

    .input-field {
        background-color: white;
        border-radius: 10px;
        color: #2C2A4A;
        height: 45px;
        /* width: 200px; */
    }

    .btn {
        background-color: #2C2A4A;
        font-family: "Silkscreen", sans-serif;
        margin-left: 31%;

    }



}